<h1>All Tweets</h1>

<% if current_user %>
<h1>
<marquee scrollamount="60">
  <marquee direction="up" behavior="alternate" width=100% height=200 scrollamount="40">
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
    <%= link_to "New Tweet", new_tweet_path %>
  </marquee>
    <%= link_to "New Tweet", new_tweet_path %>
</marquee>
</h1>
<% end %>

  <% @tweets.each do |tweet| %>
  <div class="container">
      <marquee direction="up" width="200" height=<%= "#{200 + (tweet.words.length * 10)}" %> behavior="alternate" style="border:solid">
        <% tweet.words.each do |word| %>
          <marquee direction="right" behavior="alternate" heigth="200" scrolldelay="60" scrollamount="8"><%= word %></marquee>
        <% end %>
    </marquee>
  </div>
  <% end %>
